<h1>Edit <%= @user.username %></h1>
<form action="/users/<%= @user.id %>" method="post">
  <label for="first_name">First Name</label>
  <input type="text" id="first_name" name="first_name" value="<%= @user.first_name %>">
  <label for="last_name">Last Name</label>
  <input type="text" id="last_name" name="last_name" value="<%= @user.last_name %>"> <br><br>
  <label for="username">Username</label>
  <input type="text" id="username" name="username" value="<%= @user.username %>">
  <label for="email">Email</label>
  <input type="text" id="email" name="email" value="<%= @user.email %>"> <br><br>
  <label for="password">Password</label>
  <input type="password" id="password" name="password" placeholder="Password">
  <input type="submit" value="Edit Account" />
</form>
