<h2><%= @user.username %>'s Profile</h2>

<h3>First Name: <%= @user.first_name %></h3>
<h3>Last Name: <%= @user.last_name %></h3>
<h3>Email: <%= @user.email %></h3>
<% if current_user.id == @user.id %>
<a href="/users/<%= @user.id %>/edit">Edit Profile</a>
<% end %>
